html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: local("Poppins-Regular"),
        url(./assets/Poppins-Regular.ttf) format("truetype");
}


